<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">

<body>
  <!--fragment 1-->
    <ul  th:fragment="sidepane_dashboard" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fab fa-connectdevelop"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Streaming UI</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Settings</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Theme Settings:</h6>
            <a class="collapse-item" th:href="@{/settings/fonts}">Fonts</a>
            <a class="collapse-item" th:href="@{/settings/color}">Color</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->
  <!--/.end fragment 1-->
  <!--fragment 2-->
    <ul th:fragment="sidepane_kafka" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fab fa-connectdevelop"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Streaming UI</sup></div>
      </a>


      <hr class="sidebar-divider my-0">


      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
		
		<li class="nav-item">
        <a class="nav-link" th:href="@{/kafka}">
          <i class="fas fa-home"></i>
          <span>Home</span></a>
      	</li>

      <hr class="sidebar-divider">


      <div class="sidebar-heading">
          Settings
        </div>


      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>kafka</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Theme Settings:</h6>
            <a class="collapse-item" th:href="@{/settings/fonts}">Fonts</a>
            <a class="collapse-item" th:href="@{/settings/color}">Color</a>
          </div>
        </div>
      </li> -->
		
		<li class="nav-item">
        <a class="nav-link" th:href="@{/kafka/clusters}">
          <i class="fas fa-server"></i>
          <span>Cluster</span></a>
      	</li>


      <hr class="sidebar-divider d-none d-md-block">

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
  <!--/.fragment 2-->
  <!--fragment 3-->
      <ul th:fragment="sidepane_adls" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-connectdevelop"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Streaming UI</sup></div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  		<!-- Divider -->
        <hr class="sidebar-divider">
  		
  		 <li class="nav-item">
        <a class="nav-link" th:href="@{/adls}">
          <i class="fas fa-home"></i>
          <span>Home</span></a>
      	</li>
  		
  		 <li class="nav-item">
        <a class="nav-link" th:href="@{/adls/browse}">
         <i class="fas fa-window-maximize"></i>
          <span>Browse</span></a>
      	</li>
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Settings
        </div>
  
        <!-- Nav Item - Pages Collapse Menu -->
      <!--   <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Cluster</h6>
              <a class="collapse-item" th:href="@{/settings/fonts}">Fonts</a>
              <a class="collapse-item" th:href="@{/settings/color}">Color</a>
            </div>
          </div>
        </li>  -->
       
      	
         <li class="nav-item">
        <a class="nav-link" th:href="@{/adls/clusters}">
          <i class="fas fa-server"></i>
          <span>Cluster</span></a>
      	</li>
  
  
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
    <!--/.end fragment 3-->
    <!--fragment 4-->
      <ul th:fragment="sidepane_kinesis" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-connectdevelop"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Streaming UI</sup></div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Interface
        </div>
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Theme Settings:</h6>
              <a class="collapse-item" th:href="@{/settings/fonts}">Fonts</a>
              <a class="collapse-item" th:href="@{/settings/color}">Color</a>
            </div>
          </div>
        </li>
  
  
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
    <!--/.end fragment 4-->
    <!--fragment 5-->
      <ul th:fragment="sidepane_jms" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-connectdevelop"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Streaming UI</sup></div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Interface
        </div>
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Theme Settings:</h6>
              <a class="collapse-item" th:href="@{/settings/fonts}">Fonts</a>
              <a class="collapse-item" th:href="@{/settings/color}">Color</a>
            </div>
          </div>
        </li>
  
  
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
    <!--/.end fragment 5-->
    <!--fragment 6-->
    <ul th:fragment="sidepane_hdfs" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fab fa-connectdevelop"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Streaming UI</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Settings</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Theme Settings:</h6>
            <a class="collapse-item" th:href="@{/settings/fonts}">Fonts</a>
            <a class="collapse-item" th:href="@{/settings/color}">Color</a>
          </div>
        </div>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

  <!--/.end fragment 6-->
  <!--fragment 7-->
      <ul th:fragment="sidepane_eventhub" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fab fa-connectdevelop"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Streaming UI</sup></div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Interface
        </div>
  		
  		<li class="nav-item">
        <a class="nav-link" th:href="@{/eventhub}">
          <i class="fas fa-home"></i>
          <span>Home</span></a>
      	</li>
      	
        <!-- Nav Item - Pages Collapse Menu --><!-- 
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Theme Settings:</h6>
              <a class="collapse-item" th:href="@{/settings/fonts}">Fonts</a>
              <a class="collapse-item" th:href="@{/settings/color}">Color</a>
            </div>
          </div>
        </li> -->
  		      <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Heading -->
        <div class="sidebar-heading">
          Settings
        </div>
  		<li class="nav-item">
        <a class="nav-link" th:href="@{/eventhub/clusters}">
          <i class="fas fa-home"></i>
          <span>Clusters</span></a>
      	</li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
    <!--/.end fragment 7-->
  
</body>

</html>