<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Kafka</title>
</head>

<body>
    <section layout:fragment="content">
        <div class="row">
			<div class="col-xl-3 col-md-6 mb-4" th:each="kafka : ${kafkaDetails}">
				<a class="nav-link" th:href="'eventhub/view/'+${kafka.id}">
					<div class="card bg-primary text-white shadow">
						<div class="card-body">
							<i class="fas fa-server"></i> [[${kafka.ClusterName}]]
							<div class="text-white-50 small">Kafka Broker: [[${kafka.kafkaBorker}]]</div>
						</div>
					</div>
				</a>
			</div>
		</div>
    </section>
</body>

</html>