<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
<meta charset="UTF-8">
<title>ADLS</title>
</head>

<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-xl-3 col-md-6 mb-4" th:each="adls : ${adlsDetails}">
				<a class="nav-link" th:href="'adls/view/'+${adls.id}">
					<div class="card bg-primary text-white shadow">
						<div class="card-body">
							<i class="fas fa-server"></i> [[${adls.ClusterName}]]
							<div class="text-white-50 small">Account: [[${adls.AccountName}]]</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<!--/.end of row-->
	</section>
</body>

</html>